---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";

import Section from "../components/Section.astro";
import PaddingTopForPages from "../components/PaddingTopForPages.astro";

import { Image } from "astro:assets";
// import Isabella from "../../public/images/Isabella.jpg";
import JordiReiki from "../../public/images/Reiki_met_Alexander_klein.jpg";
import ReikiEnergy from "../../public/images/Reiki_energy.jpg";

import AvatarGoogleReviewHDBibi from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Bibi.png";
import AvatarGoogleReviewHDMieke from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Mieke.png";
import AvatarGoogleReviewHDHilde from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Hilde.png";
import AvatarGoogleReviewHDLoes from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Loes.png";
import AvatarGoogleReviewHDUndine from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Undine.png";
import AvatarGoogleReviewHDRob from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Rob.png";
import AvatarGoogleReviewManouk from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Manouk.png";
import AvatarGoogleReviewGabrielle from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Gabrielle.png";
import AvatarGoogleReviewIsabelle from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Isabelle.png";
import AvatarGoogleReviewKatrien from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Katrien.png";
import AvatarGoogleReviewRalph from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Ralph.png";
import AvatarGoogleReviewRasjel from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_Rasjel.png";

import Signature from "../components/Signature.astro";
import HeroBannerForPages from "../components/HeroBannerForPages.astro";
import Nieuwsbrief from "../components/Nieuwsbrief.astro";
import PricingForPages from "../components/PricingForPages.astro";
import CallToActionForPages from "../components/CallToActionForPages.astro";
import Testimonials from "../components/Testimonials.astro";
import AboutMeForPages from "../components/AboutMeForPages.astro";
import SocialProof from "../components/SocialProof.astro";
import FeaturesForPages from "../components/FeaturesForPages.astro";
import FAQ from "../components/FAQ.astro";
import BenefitsForPages from "../components/BenefitsForPages.astro";
import ContactForPages from "../components/ContactForPages.astro";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",

// variable voor hero banner
const targetKeyword = "Reiki Breda";
const description =
  "Kom tot ontspanning met een Reiki behandeling. Ook krijg je nieuwe inzichten door de behandelingen. Praktijk zit dichtbij Breda. Sessie kan face-to-face of online.";
const cta = "Geef mij rust";
const image = JordiReiki;
const imageAlt =
  "Jordi die een Reiki behandeling geeft in Waalwijk dichtbij Breda.";

// variable voor de feature gedeelte
const headTitleFeatures = "De Reiki behandeling";
const titleFeature1 = "Behandelingen zijn authentiek";
const descriptionFeature1 =
  "De behandelingen zijn elke keer anders en daardoor uniek. Dit is omdat ik werk vanuit intuïtie en van te voren niet weet welke centra ik ga behandelen. Wat wordt gevoeld evenmin. Dat is enkel goed want zo is elke sessie anders en zal elke sessie je nieuwe inzichten geven.";
const titleFeature2 = "Anderen mogen mee";
const descriptionFeature2 =
  "Zoals de titel al zegt zo is het ook. Als jij iemand mee wilt nemen is dat prima. Wilt die persoon ook behandelt worden? Dan wordt 30 minuten extra gereserveerd voor de sessie. Zo krijgt iedereen voldoende aandacht.";
const titleFeature3 = "Fysiek of online";
const descriptionFeature3 =
  "De praktijk is gelegen in Waalwijk wat dichtbij Breda is. Het kan op locatie of online via videobellen. Beide zijn prima.";

// variable voor de benefite gedeelte
const headTitleBenefits = "De voordelen";
const titleBenefite1 = "De chakra's worden schoongemaakt";
const descriptionBenefite1 =
  "Reiki is voor het reinigen en het geven van ontspanning. Ook zal het stress verminderen. Ook is Reiki goed voor allerlei soorten klachten. Bij een Reiki behandeling wordt de universele energie gebruikt en worden de 7 chakra's nagelopen en gereinigd. Zo kom jij weer helemaal waar je hoort te zijn.";
const titleBenefite2 = "Nieuwe invalshoeken en oorzaak in beeld";
const descriptionBenefite2 =
  "Doordat jouw energie wordt ervaren krijg ik informatie en die wordt vervolgens met je besproken. Dat kan van alles zijn. Maar dat je er wat aan hebt is zeker. Vervolgens kun je er ook iets mee doen.";
const titleBenefite3 = "Je ervaart meer vrede";
const descriptionBenefite3 =
  "Doordat de chakra's worden schoongemaakt en je nieuwe inzichten krijgt kom je meer tot jezelf. Je weet namelijk veel meer wat de oorzaken zijn van je disbalans en kan hierdoor je gedrag aanpassen. Dit kan al ervaren worden na een paar behandelingen.";
const CTA = "Laten wij beginnen";
const imageBenefits = ReikiEnergy;
const imageAltBenefits = "Reiki energie uit het universum.";

// variable voor about me gedeelte
const titleAboutMe = "Hoi, Jordi hier. Je zeer blije Reiki-therapeut.";
const descriptionAboutMe1 = "Sinds enige tijd beoefen ik Reiki.";
const descriptionAboutMe2 =
  "Het kwam ook op een mooie manier op mijn pad. Echt vanuit een diepte. Een honger naar heling en zelfontdekking. Tijdens mijn sabbatical ging ik spontaan op zoek naar een Reiki behandeling. Weet eigenlijk ook niet meer hoe dat is ontstaan, maar dan weet je dat het vanuit je diepste zelf komt en puur is.";
const descriptionAboutMe3 =
  "Na de zoektocht kwam ik uit bij een Reiki praktijk in Drunen en waren de behandelingen confronterend maar wel goed. Ik moest namelijk dieper in mijzelf.";
const descriptionAboutMe4 =
  "Ook weer op een heel natuurlijk ritme niet veel later begonnen met Reiki 1. Wat was dat leuk! Het ging ook vanzelf en voelt nog steeds als een van de mijlpalen in mijn spirituele tocht.";
const descriptionAboutMe5 =
  "Dit wil ik jou dan ook gaan brengen tijdens onze Reiki sessies. Ik wil jou ook helen en bevrijden van het verleden.";
const descriptionAboutMe6 =
  "Je zal dan ook iemand aantreffen die heel erg met je meevoelt omdat ik het ook voel en, voor het goede of het kwade, het vaak ook heb meegemaakt. ";
const descriptionAboutMe7 =
  "Het geeft mij innig plezier om jou te helen en tot rust te brengen.";
const AboutMeCTA = "Meer over mij";

// variable Social Proof - AvatarGoogleReviews zijn te vinden in specifieke component omdat het anders niet werkt via de link en om het simpel te houden.
const Subtitle = "Degenen die je voorgingen:";
const GoogleReview1 =
  "Mijn moeder en ik hadden onlangs een reiki- en tarot-sessie bij Jordi. We zijn heel tevreden! Hij was vriendelijk en zorgzaam, en stelde ons direct op ons gemak. De ruimte was rustig en ontspannen, wat hielp om te ontspannen. Tijdens de reiki-sessie voelden we ons beide ontspannen. De tarot-sessie gaf ons veel inzicht en nuttige adviezen. Hij legde alles duidelijk uit en nam de tijd voor ons. We voelden ons gehoord en begrepen. We zouden hem zeker aanraden voor reiki en tarot. Bedankt, Jordi, voor deze bijzondere ervaring!";
const AvatarGoogleReview1 = AvatarGoogleReviewManouk;
const NameCustomer1 = "Manouk";
const Stars1 = "⭐⭐⭐⭐⭐";
const GoogleReview2 =
  "Jordi brengt inzicht in je eigen leven. Hij is enorm sympathiek en neemt de tijd om zijn kennis te delen en te bespreken. Normaal schrijf ik geen reviews, maar voor jordi maak ik een uitzondering. Zeker 5/5 sterren waard en de moeite om er een uur voor naartoe te rijden. Ik kom alvast terug.";
const AvatarGoogleReview2 = AvatarGoogleReviewKatrien;
const NameCustomer2 = "Katrien Knapp";
const Stars2 = "⭐⭐⭐⭐⭐";
const GoogleReview3 =
  "Hele fijne sessie.\n" +
  "Jordy neemt echt de tijd voor je. Ziet je. En super interessant wat hij met je deelt.\n" +
  "Ik kom zeker terug.\n" +
  "Dankje Jordy";
const AvatarGoogleReview3 = AvatarGoogleReviewRasjel;
const NameCustomer3 = "Rasjel vd Boogaart";
const Stars3 = "⭐⭐⭐⭐⭐";
const GoogleReview4 =
  "Jordi is een hele fijne coach waarbij hij met je meedenkt en tot diepgaande inzichten komt. Inzichten waar ik anders zelf nooit aan gedacht zou hebben. Verder is Jordi rustig, vriendelijk en professioneel.";
const AvatarGoogleReview4 = AvatarGoogleReviewRalph;
const NameCustomer4 = "Ralph";
const Stars4 = "⭐⭐⭐⭐";
const GoogleReview5 =
  "Hele fijne reiki behandeling en legging van tarot kaarten gehad bij Jordi. Jordi straalt rust, warmte en professionaliteit uit. Waardevolle inzichten en tips gekregen t.b.v. mijn persoonlijke ontwikkeling.";
const AvatarGoogleReview5 = AvatarGoogleReviewIsabelle;
const NameCustomer5 = "Isabelle";
const Stars5 = "⭐⭐⭐⭐⭐";
const GoogleReview6 =
  "- Jordi is een boodschapper tussen jou en het universum.\n\n" +
  "Jordi kwam ik tegen op een markt en heb toen een tarotreading bij hem gehad. Hierin nam hij uitgebreid de tijd voor me en ik kon alle vragen m.b.t de kaarten aan hem stellen. Omdat dit zo goed voelde heb ik een privé sessie bij hem geboekt. In het verleden heb ik al ervaring opgedaan met Reiki dus het voelde vertrouwd om hiervoor te kiezen. Alleen zoals geen een kaas hetzelfde is… Zo is elke Reiki sessie dat ook niet.\n\n" +
  "Gedurende de sessie krijgt Jordi via energie-uitwisseling met het universum informatie door die jou verder kan helpen in je (spirituele)ontwikkeling. Mits je ervoor open staat deze info met een open, nieuwsgierige mind te ontvangen en er niet een oordeel over te hebben richting jezelf. Want wat je hebt meegemaakt in je verleden hoeft geen struikelblok te zijn in de toekomst!\n\n" +
  "De sessie die ik heb gehad heb ik als prettig ervaren. Jordi heeft mij waardevolle dingen verteld over de oorsprong van waar ik tegen aan loop en ik kan je zeggen dat hij gelijk had! Aangezien ikzelf ook erg open sta en deze dingen ook al voelde diep van binnen, alleen soms is het fijn om daarin bevestiging te krijgen van iemand die buiten jou en je sociale kringen staat. Ook vertelde hij me waar mijn energie geblokkeerd zit en welke lichaamsdelen in mij wat meer zelfliefde mogen krijgen en heeft hij me advies meegegeven die ik kan toepassen voor na de sessie.\n\n" +
  "Ook voor nazorg staat hij open en ik weet dat als ik vragen heb ik hem altijd een berichtje kan sturen. Hij begrijpt als geen ander dat een sessie met hem confronterend kan zijn en dat verandering met kleine stapjes komt.";
const AvatarGoogleReview6 = AvatarGoogleReviewGabrielle;
const NameCustomer6 = "Gabriëlle ";
const Stars6 = "⭐⭐⭐⭐⭐";

// variable voor Pricing/Product gedeelte
const titleProduct1 = "Reiki";
const descriptionProduct1 =
  "Elke Reiki behandeling duurt 1 uur. Je zal tijdens de behandeling tot rust komen en nieuwe inzichten krijgen. Ook mag je Reiki combineren met Tarot en/of Human Design. Zo worden zaken van diverse kanten belicht.";
const checkMark1 = "Rustgevend";
const checkMark2 = "Diverse invalkshoeken";
const checkMark3 = "Oorzaken ophelderen";
const checkMark4 = "Toepasbaar en praktisch";
const priceProduct1 = "69,99";
const discountProduct1 = "€ 10 korting voor Community leden";
const ctaProduct1 = "Maak een afspraak";
//
const titleProduct2 = "Reiki combi deal";
const descriptionProduct2 =
  "Mocht je het willen dan kun je ook gaan voor de Reiki combi deal. Dan ben je ervan verzekert dat je aandacht en tijd geeft aan jezelf en kan de Reiki goed doorwerken. Optimaal voor mensen die niet meer zichzelf voorbij willen lopen. Geldt voor 3 behandelingen.";
const checkMark5 = "Flexibel";
const checkMark6 = "Doorpakken";
const checkMark7 = "Eigen tempo";
const checkMark8 = "Lekker goedkoper ;)";
const priceProduct2 = "150,-";
const discountProduct2 = "Voor 3 behandelingen!";
const ctaProduct2 = "Maak een afspraak";

// variable voor CTA gedeelte
const titleCTA = "Wil jij heling en rust ontvangen?";
const descriptionUnderCTATitle = "Kom dan snel :D!";
const descriptionCTA = "Ja, geef mij ontspanning";

// variable voor FAQ gedeelte
const titleQuestion1 = "Kan ik iemand meenemen?";
const descriptionQuestion1 =
  "Zeker. Komt diegene ook voor een Reiki behandeling dan wordt daar 30 minuten extra voor gereserveerd.";
const titleQuestion2 = "Welke energie wordt doorgegeven?";
const descriptionQuestion2 =
  "De energie uit de cosmos, ook wel de universele levensenergie. Want Rei staat voor universeel en Ki voor levensenergie. Mijn energie valt daar dus niet onder.";
const titleQuestion3 = "Voor wat voor soort klachten is Reiki goed?";
const descriptionQuestion3 =
  "Reiki is goed voor allerlei soorten klachten. Van stress tot lichamelijk gerelateerde klachten. Je komt namelijk tot rust en wordt opgeladen. Je staat eens stil zonder maar te blijven hollen. Je wordt ook begeleid naar je serene zelf. Reiki is dus goed voor iedereen.";
const titleQuestion4 = "Hoeveel sessies heb ik nodig?";
const descriptionQuestion4 =
  "Klinkt flauw maar is wel de waarheid. Maar dat ligt eraan.\n\n" +
  "Voor Reiki adviseer ik vaak 3/5 sessies omdat je dan goed opgeladen en schoongemaakt kan worden.\n\n" +
  "Tot snel!";
const titleQuestion5 = "Mag ik je even snel iets vragen...?";
const descriptionQuestion5 =
  "Zeker. Geen probleem. Ook al ben jij nog niet bij mij geweest. Je kan mij mailen op info@dekernmetjordi.com of whatsappen op +31 6 39556179.";

// variable voor contact gedeelte
const descriptionContactForPages = "De kern met Jordi zit in Waalwijk";
const travelDistance = "30 min";
---

<Layout
  title="Reiki Breda | De kern met Jordi"
  description="Op deze pagina is alles te vinden over de Reiki behandeling bij De kern met Jordi gelegen in Waalwijk. Dus heel dichtbij Breda. De healing kan face-to-face of online."
>
  <!-- <Section> -->
  <PaddingTopForPages>
    <HeroBannerForPages
      h1={targetKeyword}
      description={description}
      cta={cta}
      image={image}
      imageAlt={imageAlt}
    />
    <FeaturesForPages
      headTitleFeatures={headTitleFeatures}
      titleFeature1={titleFeature1}
      descriptionFeature1={descriptionFeature1}
      titleFeature2={titleFeature2}
      descriptionFeature2={descriptionFeature2}
      titleFeature3={titleFeature3}
      descriptionFeature3={descriptionFeature3}
    />
    <BenefitsForPages
      headTitleBenefits={headTitleBenefits}
      titleBenefite1={titleBenefite1}
      descriptionBenefite1={descriptionBenefite1}
      titleBenefite2={titleBenefite2}
      descriptionBenefite2={descriptionBenefite2}
      titleBenefite3={titleBenefite3}
      descriptionBenefite3={descriptionBenefite3}
      CTA={CTA}
      imageBenefits={imageBenefits}
      imageAltBenefits={imageAltBenefits}
    />
    <AboutMeForPages
      titleAboutMe={titleAboutMe}
      descriptionAboutMe1={descriptionAboutMe1}
      descriptionAboutMe2={descriptionAboutMe2}
      descriptionAboutMe3={descriptionAboutMe3}
      descriptionAboutMe4={descriptionAboutMe4}
      descriptionAboutMe5={descriptionAboutMe5}
      descriptionAboutMe6={descriptionAboutMe6}
      descriptionAboutMe7={descriptionAboutMe7}
      AboutMeCTA={AboutMeCTA}
    />
    <!-- <Testimonials /> -->
    <SocialProof
      Subtitle={Subtitle}
      GoogleReview1={GoogleReview1}
      AvatarGoogleReview1={AvatarGoogleReview1}
      NameCustomer1={NameCustomer1}
      Stars1={Stars1}
      GoogleReview2={GoogleReview2}
      AvatarGoogleReview2={AvatarGoogleReview2}
      NameCustomer2={NameCustomer2}
      Stars2={Stars2}
      GoogleReview3={GoogleReview3}
      AvatarGoogleReview3={AvatarGoogleReview3}
      NameCustomer3={NameCustomer3}
      Stars3={Stars3}
      GoogleReview4={GoogleReview4}
      AvatarGoogleReview4={AvatarGoogleReview4}
      NameCustomer4={NameCustomer4}
      Stars4={Stars4}
      GoogleReview5={GoogleReview5}
      AvatarGoogleReview5={AvatarGoogleReview5}
      NameCustomer5={NameCustomer5}
      Stars5={Stars5}
      GoogleReview6={GoogleReview6}
      AvatarGoogleReview6={AvatarGoogleReview6}
      NameCustomer6={NameCustomer6}
      Stars6={Stars6}
    />

    <PricingForPages
      titleProduct1={titleProduct1}
      descriptionProduct1={descriptionProduct1}
      checkMark1={checkMark1}
      checkMark2={checkMark2}
      checkMark3={checkMark3}
      checkMark4={checkMark4}
      priceProduct1={priceProduct1}
      discountProduct1={discountProduct1}
      ctaProduct1={ctaProduct1}
      titleProduct2={titleProduct2}
      descriptionProduct2={descriptionProduct2}
      checkMark5={checkMark5}
      checkMark6={checkMark6}
      checkMark7={checkMark7}
      checkMark8={checkMark8}
      priceProduct2={priceProduct2}
      discountProduct2={discountProduct2}
      ctaProduct2={ctaProduct2}
    />
    <Nieuwsbrief />
    <FAQ
      titleQuestion1={titleQuestion1}
      descriptionQuestion1={descriptionQuestion1}
      titleQuestion2={titleQuestion2}
      descriptionQuestion2={descriptionQuestion2}
      titleQuestion3={titleQuestion3}
      descriptionQuestion3={descriptionQuestion3}
      titleQuestion4={titleQuestion4}
      descriptionQuestion4={descriptionQuestion4}
      titleQuestion5={titleQuestion5}
      descriptionQuestion5={descriptionQuestion5}
    />
    <ContactForPages
      descriptionContactForPages={descriptionContactForPages}
      travelDistance={travelDistance}
    />
    <CallToActionForPages
      titleCTA={titleCTA}
      descriptionUnderCTATitle={descriptionUnderCTATitle}
      descriptionCTA={descriptionCTA}
    />
  </PaddingTopForPages>
  <!-- </Section> -->
  <Footer />
</Layout>
