---
import { Image, } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

---

<!-- <style>
   a {
    color: #C2783F;
    text-decoration: underline;
  }
</style> -->


<article>
  <a href={`/${post.slug}`}>
    <Image
      src={post.data.image}
      alt={post.data.title}
      format="avif"
      width={600}
      height={600 / 1.5}
      class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
    />
    <a
      href={`/${post.slug}`}
      class="text-4xl mb-4 font-semibold inline-block"
    >
      <h2>{post.data.title}</h2>
    </a>
    <p class="text-xl mb-9 line-clamp-2">
      {post.body}
    </p>
  </a>
</article>
