---
import { Image } from "astro:assets";
import Avatar_Jordi from "../../public/images/Avatar_Jordi_compressed.png";

import GoogleLogoTransparent from "../../public/images/google-logo-transparent.png";
import AvatarGoogleReviewHDBibi from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Bibi.png";
import AvatarGoogleReviewHDMirna from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Mirna.png";
import AvatarGoogleReviewHDHilde from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Hilde.png";
import AvatarGoogleReviewHDAnnemieke from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Annemieke.png";
import AvatarGoogleReviewHDUndine from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Undine.png";
import AvatarGoogleReviewHDRob from "../../public/images/Avatars_Google_Reviews/Avatar_Google_Review_HD_Rob.png";

// Lettertype - Garamond is voor titels en Rubik voor tekst
const Garamond = "font-serif";
const Rubik = "font-sans";

// Merk kleurencode. Gebruik bg-brand-white in class om toe te passen.
// "brand-white": "#F1F1F1",
// "brand-sage": "#BCBC82",
// "brand-copper": "#C2783F",
// "prose-text-color": "#374151",

const {
  Subtitle,
  GoogleReview1,
  AvatarGoogleReview1,
  NameCustomer1,
  Stars1,
  GoogleReview2,
  AvatarGoogleReview2,
  NameCustomer2,
  Stars2,
  GoogleReview3,
  AvatarGoogleReview3,
  NameCustomer3,
  Stars3,
  GoogleReview4,
  AvatarGoogleReview4,
  NameCustomer4,
  Stars4,
  GoogleReview5,
  AvatarGoogleReview5,
  NameCustomer5,
  Stars5,
  GoogleReview6,
  AvatarGoogleReview6,
  NameCustomer6,
  Stars6,
} = Astro.props;

console.log("Avatar hieronder");
console.log(AvatarGoogleReview1);
---

<style>
  p {
    white-space: pre-line;
  }
</style>

<section class="relative py-20">
  <div class="container px-4 mx-auto">
    <div class="max-w-2xl mx-auto mb-12 lg:mb-20 text-center">
      <div class="flex items-center gap-x-4">
        <Image
          class="max-w-xs max-h-32 object-contain"
          src={GoogleLogoTransparent}
          alt="Google logo"
        />
        <p class="mt-8 mb-10 text-7xl font-semibold font-heading">Reviews</p>
      </div>
      <div class="mt-2 mb-5 flex items-center gap-x-1 justify-center">
        <div class="text-xl">4,9</div>
        <div class="text-yellow-500 text-2xl">⭐⭐⭐⭐⭐</div>
        <div class="text-xl">(+30 reviews)</div>
      </div>
      <p class="text-xl text-gray-500">
        {Subtitle}
      </p>
    </div>
    <div class="flex flex-wrap justify-around -m-3">
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview1}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover object-top rounded-full"
            src={AvatarGoogleReview1}
            alt="Avatar van klant."
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer1}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars1}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview2}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover rounded-full"
            src={AvatarGoogleReview2}
            alt="Avatar van klant"
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer2}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars2}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview3}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover rounded-full"
            src={AvatarGoogleReview3}
            alt="Avatar van klant"
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer3}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars3}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview4}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover rounded-full"
            src={AvatarGoogleReview4}
            alt="Avatar van klant"
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer4}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars4}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview5}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover rounded-full"
            src={AvatarGoogleReview5}
            alt="Avatar klant"
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer5}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars5}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/3 p-3">
        <div class="border p-6 rounded-xl">
          <p class="mb-10 text-xl">
            {GoogleReview6}
          </p>
          <Image
            class="mb-6 h-12 w-12 object-cover rounded-full"
            src={AvatarGoogleReview6}
            alt="Avatar klant"
          />
          <div class="flex">
            <p class="mb-2 text-2xl font-semibold font-heading">
              {NameCustomer6}
            </p>
            <div class="mb-2 ml-2 text-yellow-500 text-2xl">{Stars6}</div>
            <!-- <p class="text-gray-500">CEO & Founder</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div><p>Boepppp!</p></div> -->
